* {
  font-family: "Texturina", serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: #F3904F;
  background: -webkit-linear-gradient(to bottom, #3B4371, #F3904F);
  background: linear-gradient(to bottom, #3B4371, #F3904F);
}
body header .navFondo {
  background-image: url(../images/fondomusica.jpg);
  background-size: cover;
}
body header .navFondo .container-fluid .navbar-brand img {
  border-radius: 50px;
}
body header .navFondo .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: black;
}
body header .container-fluid .barraBuscador {
  margin-top: 5px;
}
body header .container-fluid .barraBuscador .botonBuscar {
  color: antiquewhite;
  border: 1px solid orange;
}
body footer {
  padding-top: 40px;
  background-color: #3B4371;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 10px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
  }
}
body footer .redes1 {
  background-color: rgb(245, 225, 161);
  margin-left: 15px;
  margin-bottom: 10px;
  padding-top: 5px;
  height: 50px;
  width: auto;
  border-radius: 50px;
  text-align: center;
  display: flex;
}
@media (max-width: 768px) {
  body footer .redes1 {
    margin-left: 0px;
    margin-bottom: 0px;
    width: 300px;
  }
}
body footer .redes1 .iconitos {
  height: 40px;
  width: 60px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
body footer .redes1 .iconitos a img {
  width: 35px;
  height: auto;
}
body footer .footerProfe2 {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  body footer .footerProfe2 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
body footer .footerProfe2 .logoNa {
  border-radius: 50px;
}
body footer .footerProfe2 h5 {
  color: antiquewhite;
  padding-top: 10px;
}
@media (max-width: 340px) {
  body footer .footerProfe2 h5 {
    font-size: 16px;
  }
}

body header section .pageDescription {
  color: rgb(245, 225, 161);
}
@media (min-width: 768px) {
  body header section .pageDescription {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
body .mainIndex section .cardsCompositor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 6px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  body .mainIndex section .cardsCompositor {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  body .mainIndex section .cardsCompositor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
body .mainIndex section .cardsCompositor .tarjetasCompositores {
  width: 12rem;
  cursor: pointer;
  justify-self: center;
}
body .mainIndex section .cardsCompositor .tarjetasCompositores:hover .contenidoTarjetas {
  transform: rotateY(0.5turn);
}
body .mainIndex section .cardsCompositor .tarjetasCompositores .contenidoTarjetas {
  text-align: center;
  border-radius: 50px;
  position: relative;
  transition: all 2.25s;
  background-color: rgb(245, 225, 161);
  padding: 5em;
  transform-style: preserve-3d;
}
body .mainIndex section .cardsCompositor .tarjetasCompositores .contenidoTarjetas .frenteTarjetas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 25px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 50px;
}
body .mainIndex section .cardsCompositor .tarjetasCompositores .contenidoTarjetas .frenteTarjetas .tituloGrande {
  transform: translateZ(5rem);
  font-size: 1.6rem;
}
body .mainIndex section .cardsCompositor .tarjetasCompositores .contenidoTarjetas .frenteTarjetas .subtituloAbajo {
  transform: translateZ(2rem);
}
body .mainIndex section .cardsCompositor .tarjetasCompositores .contenidoTarjetas .atrasTarjetas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 35px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateY(0.5turn);
  background-color: coral;
  border-radius: 50px;
}
body .mainIndex section .cardsCompositor .tarjetasCompositores .contenidoTarjetas .atrasTarjetas .descripcionTarjetas {
  padding-left: 10px;
  padding-right: 10px;
  transform: translateZ(3rem);
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .subMenu {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(180deg, rgb(175, 89, 35), rgb(241, 231, 166));
}
body .subMenu .row {
  margin: auto;
}
body .subMenu .row .tarjetaConceptos {
  width: 150px;
  height: 50px;
  margin: 10px;
  background: rgb(175, 89, 35);
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 18px;
}
body .subMenu .row .tarjetaConceptos h5 {
  z-index: 1;
}
body .subMenu .row .tarjetaConceptos h5 a {
  text-decoration: none;
  color: #DDE8B9;
}
body .subMenu .row .tarjetaConceptos::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 200px;
  background-image: linear-gradient(180deg, rgb(175, 89, 35), rgb(241, 231, 166));
  animation: rotBGimg 7s linear infinite;
  transition: all 0.2s linear;
}
body .subMenu .row .tarjetaConceptos::after {
  content: "";
  position: absolute;
  background: #3B4371;
  inset: 5px;
  border-radius: 15px;
}
body section .articleContainer1 {
  color: #DDE8B9;
}
@media (min-width: 768px) {
  body section .articleContainer1 {
    margin: 50px;
  }
}
body section .articleContainer1 h3 {
  padding: 30px;
}
body section .articleContainer1 p {
  padding: 30px;
}
body section .articleContainer2 {
  color: #07182E;
}
@media (min-width: 768px) {
  body section .articleContainer2 {
    margin: 50px;
  }
}
body section .articleContainer2 p {
  padding: 30px;
}
body section .articleContainer2 h3 {
  padding: 30px;
}

.mainContacto .h2Profesora, body .mainCompositor .sectionCompositor .containerCompositor .compositor, body .mainCompositor .sectionCompositor .articleAnalisis {
  display: flex;
  align-items: center;
  text-align: center;
}

body .mainCompositor .sectionCompositor .h2AnalisisCompositivo {
  text-align: center;
  margin: 20px;
}
body .mainCompositor .sectionCompositor .articleAnalisis {
  flex-direction: column;
  justify-content: space-around;
  background-color: #DDE8B9;
  height: auto;
  margin: auto;
  border: 1px solid black;
}
@media (min-width: 768px) {
  body .mainCompositor .sectionCompositor .articleAnalisis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
body .mainCompositor .sectionCompositor .articleAnalisis p {
  padding: 20px;
}
body .mainCompositor .sectionCompositor .articleAnalisis .imgCompositores {
  margin: auto;
}
body .mainCompositor .sectionCompositor .articleAnalisis .imgCompositores .retrato {
  display: flex;
  width: auto;
  height: 300px;
}
body .mainCompositor .sectionCompositor .containerCompositor h2 {
  text-align: center;
  margin: 20px;
}
body .mainCompositor .sectionCompositor .containerCompositor .compositor {
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  flex-direction: column;
  background-color: #DDE8B9;
}
@media (min-width: 1280px) {
  body .mainCompositor .sectionCompositor .containerCompositor .compositor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
body .mainCompositor .sectionCompositor .containerCompositor .compositor p {
  padding: 20px;
}
body .mainCompositor .sectionCompositor .containerCompositor .compositor .table {
  margin: auto;
}
body .mainCompositor .sectionCompositor .containerCompositor .compositor .videoObra {
  padding: 20px;
  margin: auto;
  width: auto;
  height: 500px;
}
@media (min-width: 0px) {
  body .mainCompositor .sectionCompositor .containerCompositor .compositor .videoObra {
    width: 90%;
  }
}
@media (min-width: 563px) {
  body .mainCompositor .sectionCompositor .containerCompositor .compositor .videoObra {
    width: 100%;
  }
}

.mainContacto .h2Profesora {
  background-color: #DDE8B9;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: auto;
  margin-top: 30px;
  justify-content: space-around;
}
.mainContacto .contactoContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: #DDE8B9;
  margin: auto;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (min-width: 1280px) {
  .mainContacto .contactoContainer {
    display: flex;
    flex-direction: row;
    padding: 40px;
  }
}
.mainContacto .contactoContainer div img {
  display: flex;
  width: 300px;
  height: 400px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin: 20px;
  width: auto;
  justify-self: center;
}
@media (max-width: 1280px) {
  .mainContacto .contactoContainer div img {
    margin-top: 50px;
  }
}
.mainContacto .contactoContainer .profeParrafo1 {
  width: 34%;
  margin: 20px;
}
@media (min-width: 320px) {
  .mainContacto .contactoContainer .profeParrafo1 {
    width: 90%;
    height: auto;
  }
}
.mainContacto .contactoContainer .profeParrafo2 {
  width: 33%;
  margin: 20px;
}
@media (min-width: 320px) {
  .mainContacto .contactoContainer .profeParrafo2 {
    width: 90%;
    height: auto;
  }
}
.mainContacto .sectionForm div .contactoForm {
  width: auto;
  height: 300px;
  text-align: center;
  margin: 0% auto;
  padding-top: 30px;
}

/*# sourceMappingURL=styles.css.map */
