* {
    font-family: 'Texturina', serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: #F3904F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}
.navFondo {
background-image: url(../images/fondomusica.jpg);
background-size:cover;
}
.nav-link {
    color: black;
}
.botonBuscar {
    color: antiquewhite;
    border: 1px solid orange;
}
.barraBuscador {
    margin-top:5px;
}
.pageDescription {
    color: antiquewhite;
}
/* Tarjetas Index Obras/Compositores */
.cards-compositor{ 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 6px;
    margin-bottom: 50px;
}
.tarjetasCompositores {
    width: 12rem;
    cursor: pointer;
    justify-self: center;
}
.contenidoTarjetas {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(245, 225, 161);
    padding: 5em;
    transform-style: preserve-3d;
}
.tarjetasCompositores:hover .contenidoTarjetas {
    transform: rotateY(0.5turn);
}
.frenteTarjetas,
.atrasTarjetas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 25px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.tituloGrande {
    transform: translateZ(5rem);
    font-size: 1.8rem;
}
.subtitulo-abajo {
    transform: translateZ(2rem);
}
.atrasTarjetas {
    transform: rotateY(0.5turn);
    background-color: coral;
}  
.descripcionTarjetas {
    transform: translateZ(3rem);
}
/* Conceptos básicos de Música */
.tarjetaConceptos {
    width: 150px;
    height: 50px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 18px;
}
.tarjetaConceptos h5 {
    z-index: 1;
}
.tarjetaConceptos h5 a {
    text-decoration: none;
    color: white;
}
.tarjetaConceptos::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(175, 89, 35), rgb(241, 231, 166));
    height: 200px;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}
@keyframes rotBGimg {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
.tarjetaConceptos::after {
    content: '';
    position: absolute;
    background: #3B4371;
    inset: 5px;
    border-radius: 15px;
}  
.conceptosBody {
    margin: 10px;
}
.articleContainer1 {
    color:#DDE8B9;
}
.articleContainer2 {
    color: #07182E;
}
.articleContainer1 p{
    padding: 30px;
}
.articleContainer2 p{
    padding: 30px;
}
.articleContainer1 h3{
    padding: 30px;
}
.articleContainer2 h3{
    padding: 30px;
}
/* Paginas Compositores*/
.containerCompositor h2 {
    text-align: center;
}
.Compositor {
    margin: auto;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #DDE8B9;
    align-items: center;
    justify-content: center;
}
.Compositor p {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
}
.articleAnalisis {
    display: flex;
    flex-direction: column;
    background-color: #DDE8B9;
    height: auto;
    margin:0px auto;
    border: 1px solid black;
    text-align: center;
    align-items: center;
}
.articleAnalisis p {
    padding: 20px;
}
.h2AnalisisCompositivo {
    text-align: center;
}
.imgVivaldi img {
    display: flex;
    height: 300px;
    width: auto;
}
.imgMozart img {
    display: flex;
    height: 300px;
    width: auto;
}
.imgSchubert img {
    display: flex;
    height: 300px;
    width: auto;  
}
.imgDebussy {
    display: flex;
    height: 300px;
    width: auto;   
    }
    /* Página contacto */
.contactoContainer {
    display: flex;
    flex-direction: column;
    background-color: #DDE8B9;
    margin:0px auto;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.aboutP1 {
padding-top: 30px;
margin: 40px;
}
.aboutP2 {
    margin: 50px;
    }
.contactoContainer img {
    height: 300px;
    width: auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
.h2__profesora {
    display: flex;
    background-color: #DDE8B9;
    padding-top: 30px;
    padding-bottom: 60px;
    margin:0px auto;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.contacto__form {
    height: 300px;
    width: auto;
    text-align: center;
    margin: 0% auto;
    padding-top: 30px;
}
/* Footer */
footer {
    padding-top: 40px;
    background-color: #3B4371;
    display: flex;
}
footer h5 {
    color: antiquewhite;
    padding-top: 10px;
}
@media (min-width: 768px) {
    .cards-compositor{ 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.pageDescription {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.articleAnalisis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Compositor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contactoContainer {
    display: flex;
    flex-direction: row;
padding: 40px;
}
}
@media (min-width: 1280px){
.cards-compositor{ 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.conceptos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media (min-width: 0px){
.videoObra {
    width: 90%;
}
}
@media (min-width: 563px){
.videoObra {
    width: 100%;
}
}
