$background-color_1: rgb(245,225,161);
body{
	header{
		section{
			h1 {
				color: rgb(165, 157, 127);
				@media (min-width: 768px) {
				margin-top: 40px;
				margin-bottom: 20px;
				}
			}
			.pageDescription {
				color: $background-color_1;
				@media (min-width: 768px) {
				margin-bottom: 50px;
				}
					@media (min-width: 1200px) {
						margin-left: 300px;
						margin-right: 300px;
					}
					@media only screen and (min-width: 537px) and (max-width: 1200px) {
						margin-left: 70px;
						margin-right: 70px;
					}
					@media (max-width: 537px) {
						margin-left: 15px;
						margin-right: 15px;
					}
			}
		}
	}
	.mainIndex{
		section{
			.cardsCompositor {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(6, 1fr);
				row-gap: 20px;
				margin-top: 30px;
				margin-bottom: 50px;
					@media (min-width: 768px) {
					grid-template-columns: repeat(2, 1fr);
					grid-template-rows: repeat(3, 1fr);
					}
					@media (min-width: 1280px) {
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(2, 1fr);
					}
				.tarjetasCompositores {
					width: 12rem;
					cursor: pointer;
					justify-self: center;
					&:hover {
						.contenidoTarjetas {
							transform: rotateY(0.5turn);
						}
					}
					@media (max-width: 768px) {
						width: 18rem;
						}
					.contenidoTarjetas {
						text-align: center;
						border-radius: 50px;
						position: relative;
						transition: all 2.25s;
						background-color: $background-color_1;
						padding: 5em;
						transform-style: preserve-3d;
						.frenteTarjetas {
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							padding-top: 25px;
							transform-style: preserve-3d;
							backface-visibility: hidden;
							border-radius: 50px;
							.tituloGrande {
								transform: translateZ(5rem);
								font-size: 1.6rem;
							}
							.subtituloAbajo {
								transform: translateZ(2rem);
							}
						}
						.atrasTarjetas {
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							padding-top: 35px;
							transform-style: preserve-3d;
							backface-visibility: hidden;
							transform: rotateY(0.5turn);
							background-color: coral;
							border-radius: 50px;							
							.descripcionTarjetas {
								padding-left: 10px;
								padding-right: 10px;
								transform: translateZ(3rem);								
							}
						}						
					}
				}
			}
		}
	}
}